:root {
  --primary: #ffffff;
  --bg: #4cbb17;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #000;
  color: #ffffff;
  padding-top: 50px;
  overflow:scroll;
}

/*Navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 7%;
  background-color: #000;
  border-bottom: 1px solid #f5f5f5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2.5rem;
  font-weight: 700;
  color: #4cbb17;
}

.navbar .navbar-logo span {
  color: #fff;
}

.navbar .navbar-nav a {
  position: sticky;
  color: #fff;
  display: inline-block;
  font-size: 1.5rem;
  margin: 0.5rem;
  font-style: bold;
}

.navbar .navbar-nav a:hover {
  color: var(--bg);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--bg);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--bg);
}

.navbar .navbar-extra a::after {
  color: var(--bg);
}

#menu {
  display: none;
}

/*Hero Section*/
.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgb(1, 3, 1) 3%,
    rgba(255, 255, 255, 0) 25%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 6rem;
  color: #4cbb17;
  text-shadow: 1px 1px 5px rgba(1, 1, 3, 0.8);
  line-height: 1.2;
  white-space: normal;
}

.hero .content h1 span {
  font-size: 4rem;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 0.5rem;
  line-height: 1.3;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.8);
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  background-color: #4cbb17;
  color: #f5f5f5;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 1px 1px 3px rgba(1, 1, 1, 0.8);
  transition: 0.3s;
}

.hero .content .cta:hover {
  background-color: #f5f5f5;
  color: #4cbb17;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

/* service list */
.service-list .content h2{
  font-size: 3rem;
  text-align: center;
  padding: 1.4rem 7%;
  color:#4cbb17;
}

.service-list .content h2 span{
  color:#fff;
}

.video {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}
.video-card{
  text-align: center;
  max-width: 450px;
}
.video-card video {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.video-card h3 {
  margin-top: 10px;
  font-size: 2rem;
  color:#4cbb17;
}
.video-card p {
  font-size: 1.4rem;
  color:#fff;
}
.video-card video:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;

}

/* subscription*/
.input-box label:hover{
  color:#4cbb17;
  background-color: #fff;
}
.input-box label:has(input:checked) {
  color:#4cbb17;
  background-color: #fff;
}
.subscription {
  padding: 60px 20px;
  text-align: center;
  background-image: url(../img/subscription-bg.jpg) !important;
  background-size: cover;
  background-repeat: no-repeat;   
  background-position: center;
  position: relative;
  height: 100vh;
  border: 2px solid red;
  height: auto;
  width: 100%;
  overflow: scroll;
}

.subscription .subscribe {
  color : #4cbb17;
  font-size: 3rem;
  margin-bottom: 30px;
}
.subscription .subscribe span{
  color:#fff;
}
.subscription .form-wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #111;
  border-radius: 12px;
  text-align: center;
  overflow: auto;
}
.subscription form {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  flex-direction: column;
}
.subscription .user-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.subscription .input-box {
  display: flex;
  flex-direction: column;
}
.subscription .input-box span {
  margin-bottom: 6px;
  font-weight: 1000;
  color: #4cbb17;
  text-align: left;
  font-size: 1.3rem;
  
}
.subscription ,.input-box input {
  padding: 0.8rem 1rem;
  border-radius: 8px;
  background-color: #222;
  color: #fff;
  font-size: 1rem;
  border: none;
  font-family: "poppins";
}
.subscription ,.input-box input[type="checkbox"] {
  display:none;
}
.subscription ,.input-box input[type="radio"] {
  display:none;
}
.subscription, .input-box label {
  display: block;
  color:#fff;
  background-color: #222;
  border-radius: 5px;
  text-align: left;
  border-top-width: 10px ;
  font-size: 1.3rem;
  padding-inline: 10px;

}

.subscription .gender-details {
  margin-top: 2px;
}
.subscription .gender-tittle {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #4cbb17;
  display: block;
  padding-top: 1px;
}
.subscription .gender {
  font-size: 1.5rem;

  background-position: 100%;

}
.subscription .category label {
  margin-right: 20px;
  color: #fff;
  font-weight: 500;
}

.form-group.full-width {
  flex: 1 1 100%;
}
.form-group input, .form-group textarea {
  padding: 0.8rem 1rem;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  background-color: #222;
  color: #fff;
}
.subscription-form .cta{
  margin-top: 1rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background-color: #4cbb17;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  align-self: flex-end;
}
.subscription-form .cta:hover{
  background-color: #3aa314;
}

.subscription .cta {
  background-color: #4cbb17;
  border-radius: 8px; 
  height: 45px;
  font-size: 1.8rem;
  font-weight: bold;
  color:#fff;
}
.subscription .cta:hover{
  background-color: #fff;
  color: #4cbb17;
}

/* menu list */
.our-menu h1, .about-us h1, .contact h1, .testimoni h1 {
  color:#4cbb17;
  text-align: center;
  padding: 6rem 7% 1.4rem;
  font-size: 3rem;
}
.our-menu h1 span, .about-us h1 span, .contact h1 span, .testimoni h1 span {
  color:#fff;
}

.our-menu .menu-items {
  display: flex;
  gap: 20px;
  justify-content: flex-start;

} 
.our-menu .menu-items p {
  font-size: 1.3rem;
  margin-right: 50px;

}

.our-menu .menu-list {
  gap: 70px;
}

.our-menu .menu-text {
  flex-direction: column;
  text-align: justify;
}

.our-menu .menu-items img {
  width: 100%;
  border-radius: 12px;
  margin: 20px;
  height: auto;
}
.our-menu .menu-items img:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
.our-menu .menu-items h3{
  margin-top: 20px;
  color: #4cbb17;
  font-size: 2.5rem;
}
.our-menu .menu-items button {
  color: #fff;
  background-color: #3aa314;
  font-size: 1.3rem;
  margin-top: 15px;
  border-radius: 5px;
  padding: 0.5rem;
  font-family: "poppins";
  box-shadow: 1px 1px 3px rgba(1, 1, 1, 0.8);
  font-weight: bold;
  transition: 0.3s;
}
.our-menu .menu-items button:hover {
  color: #4cbb17;
  background-color: #fff;
}
.our-menu .pop-up {
  width: 90%;
  max-width: 700px;
  background-color: #111;
  border-radius: 20px;
  box-shadow:0 20px 40px rgba(0,0,0,0.5);
  position: fixed;
  left: 50%;
  top: 55%;
  right: 50%;
  align-items: center;
  justify-content: center;
  max-height: 75vh;
  overflow-y: auto;
  padding: 30px 20px; 
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s 0.1s;
  z-index: 99999;

}
.our-menu .pop-up img {
  display: flex;
  width: 100%;
  border-radius:25px;
}
.our-menu .pop-up h3 {
  text-align: center;
  color:#4cbb17;
  font-size: 2rem;
  justify-content: center;
  margin-top: 15px;

}
.our-menu .pop-up p {
  justify-content: center;
  display: flex;
  font-size: 1rem;
  margin: 20px;
  margin-top: 10px;
  text-align: center;
}

.our-menu .pop-up .product-content  p { 
  display: flex;
  padding: 20px;
}
.our-menu .pop-up a {
  color: #fff;
  background-color: #4cbb17;
  font-size: 1.3rem;
  margin-top: 15px;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "poppins";
  box-shadow: 1px 1px 3px rgba(1, 1, 1, 0.8);
  font-weight: bold;
  display: flex;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  transition: 0.3s;
  justify-content: center;
}
.pop-up.open-popup {
  opacity: 1;
  visibility: visible;
}
.pop-up .close-popup  {
  background: transparent;
  color: #fff;
  font-weight: bold;
  font-size: 4rem;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor:pointer;
}
.our-menu .pop-up a:hover {
  background-color: #fff;
  color: #4cbb17;
}

/* About section */
.about-us .about-us-image img {
  height: 200px;
  margin: 0 auto;
  align-items: center;
  align-content: center;
  display: block;
  border-radius: 15px;
  position: relative;
  Width: 1200PX;
  aspect-ratio: 16/9;
  object-fit: cover;
}
.about-us p {
  font-size: 1.2rem;
  margin-top: 20px;
  margin-left: 35px;
  margin-right: 35px;
  text-align: justify;
  display: block;
  align-items: center;
}
/* contact section */
.contact .row {
  display: flex;
  background-color: #222;
  flex-wrap: wrap;
  align-items: center;
}
.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
  height: 450px;
}
.contact p {
  font-size: 2rem;
  margin-bottom: 5px;
}

.contact .row .contact-details {
  padding: 5rem 2rem;
}
.contact .contact-details h3 {
  font-size: 2rem;
}

.contact .contact-details p {
  font-size: 1.5rem;
}

.contact .contact-details .btn {
  border-radius: 5px;
  margin-top: 1rem;
  padding: 1rem 2rem;
  color: #fff;
  background-color: #4cbb17;
  font-size: 1.3rem;
}
.contact .contact-details .btn:hover {
  background-color: #fff;
  color: #4cbb17;
}

/* testimoni section */
.testimoni .user-testi {
  display: flex;
  text-align: left;
  align-items: left;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
  
}

.testimoni .testi-form1 {
  flex-direction: column;
  display: flex;
  font-size: 1.2rem ;
  font-weight: bold;
  color: #4cbb17;
}
.testimoni .testi-form1 input {
  background-color: #fff;
  border-radius: 8px;
  height:30px;
  width: 300px;
  color: #000;
  padding: 0.8rem 1rem;
  font-family: "poppins";
}
.testimoni .testi-form2{
  flex-direction: column;
  display: flex;
  font-size: 1.2rem ;
  margin-top: 10px;
  font-weight: bold;
  color: #4cbb17;
  flex-wrap: wrap;
}
.testimoni .testi-form2 textarea {
  background-color: #fff;
  border-radius: 8px;
  height:100px;
  width: 100%;
  max-width: 500px;
  color:#000;
  padding: 0.8rem 1rem;
  resize: vertical;
  box-sizing: border-box;
  font-family:"poppins";
  display: flex;
  flex-wrap: wrap;
}
/* login */
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(../img/login-bg.jpg);
  background-size:100%;
  color:#4cbb17;
}
.login .container {
  margin: 0 15px;
}
.login .form-box{
  width:100%;
  max-width: 450px;
  padding: 30px;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: none;
}
.login .form-box.active {
  display: block;
}
.login .form-box input,select {
  border-radius: 2px;
  border: none;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
  font-size: 1rem;
  padding: 10px 10px;
  font-family: "poppins";
  color: #444;  
}
.login h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 20px;
}
.login button {
  font-size: 1.3rem;
  color: #fff;
  background-color: #4cbb17;
  border-radius: 3px;
  padding: 12px;
  width:100%;
  text-align: center;
  border:none;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 20px;
  transition: 0.5s;
  shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login button:hover {
  background-color: #fff;
  color: #4cbb17;
}
.login p {
  text-align: center;
  font-size: 1rem;
  color: #fff;
}
.login a {
  color: #4cbb17;
}
.login .error-message {
  padding: 12px;
  background: #f8d7da;
  border-radius: 6px;
  font-size: 1rem;
  color: #a42834;
  text-align: center;
  margin-bottom: 20px;
}
/*Media Queries*/

/*Laptop screen*/
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
  #menu {
    display: none;
  }
}

/* user page */
.user_page h1 {
  font-size: 2.5rem;
  margin: 50px auto auto 20px;
}
.user_page h1 span {
  color: #4cbb17;
}
.user_page .box p {
  margin: auto 22px;
  font-size: 1.2rem;
}

.user_page .row {
  display: flex;
  flex-direction: row ;
  padding: 20px;
  background-color: #222;
  color: white;
  border-radius: 10px;
  flex-wrap: wrap;  
  gap: 10px;
  max-width: 95%;
  justify-items: center;
  margin: 10px auto;


}
.user_page .subscription-box {
  background-color: #000;
  flex-direction: column;
  display: flex;
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  flex-wrap: wrap;
  flex-grow: 1;
  margin:0;
}
.user_page .subscription-box h3 {
  margin: 0;
  white-space: nowrap;
  font-size: 1.3rem;
}

.user_page .subscription-line p {
  margin-left:10px;
  font-size: 1.3rem;
  color: #4cbb17;
  display: flex;
  margin-right: 0;
  
}
.user_page .subscription-line {
  display: flex;
  flex-direction: row;
}
.user_page .pause-box {
  background-color: #000;
  width: 40%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 10px;
  height: 50%;
  gap: 10px;
  margin: 0;
}
.user_page .pause-box .date {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin:0;
}
.user_page .pause-box input {
  border: none;
  outline: none;
  background-color: #222;
  color: #fff;
  border-radius: 5px;
  font-size: 1rem;
  text-align: center;
  padding: 3px;
  font-family: "poppins";
}
.user_page .pause-box button {
  outline: none;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #4cbb17;
  font-family: "poppins";
  font-size: 1rem;
  margin-top: 3px;
  font-weight: bold;
}
.user_page .pause-box button:hover {
  color: #4cbb17;
  background-color: #fff;
  transition: 0.3s ease;
}

.user_page .pause-box h3 {
  margin-bottom: auto;
}
.user_page .logout-btn {
  position: absolute;
  background-color: red;
  color: #fff;
  right:20px;
  top:120px;
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: 2px;
  font-weight: bold;
  font-family: "poppins";
}
.user_page .logout-btn:hover {
  color: red;
  background-color: #fff;
  transition: 0.3s ease;
}

.user_page .cancel-box button {
  color:#fff; 
  border:none;
  outline: none;
  border-radius: 3px;
  background-color: red;
  padding: 5px;
  font-family: "poppins";
  font-weight: bold;
}
.user_page .cancel-box button:hover {
  color: red;
  background-color: #fff;
  transition: 0.3s ease;
}

/*Tablet screen*/
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  .about-us .about-us-image img {
    max-width: 80%;
    object-fit: contain;
    padding: 0 ;
    object-fit: cover;
    width: 100%;
  
  }

  #menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #000000;
    width: 25rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--primary);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar.navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
}

/*Mobile Phone Screen*/
@media (max-width: 480px) {
  html {
    font-size: 55%;
  }

  .our-menu .menu-items {
    flex-direction: column !important;
    display: flex !important;
    align-items: center;
    text-align: center;

  }
  .our-menu .menu-items img{
    width: 90% !important;
    height: auto !important;
    margin-top:20px;
    margin-bottom: 5px;
  }
  .our-menu .menu-list {
    flex-direction: column !important;
    display: flex !important;
    gap:40px;
  }
  .our-menu .menu-text {
    text-align: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;

  }
  .our-menu .menu-items h3 {
    margin-top: 3px;
  }
  .our-menu .menu-items p {
    text-align: center;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 0 10px;

  }
  .about-us .about-us-image img {
    width: 350px;
    height: 80px;
  }
  .contact .contact-details {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    align-items: center;
    flex-direction:column;
    text-align:center;
  }
  .contact .row {
    flex-direction:column;
  }
  .user_page .box h1 {
    margin: 5px 20px;
  }
  .user_page .logout-btn {
    top: 70px;
  }
  .user_page .row {
    flex-direction: column;
  }
  .user_page .subscription-box{
    width: 100%;
  }
  .user_page .pause-box {
    width: 100%;
  }
  .user_page .cancel-box button {
    font-size: 90%;
  }
}

html {
  scroll-behavior: smooth;
}
